@if (User.Identity.IsAuthenticated)
{
    <li><a>Hi, @User.Identity.Name</a></li>
    if (User.IsInRole("Admin") || User.IsInRole("Seller"))
    {
        <li>@Html.ActionLink("Create New", "Create", "Products")</li>
    }

    <li>@Html.ActionLink("Logout", "Logout", "Register")</li>
}
else
{
    <li>@Html.ActionLink("Login", "Login", "Register")</li>
    <li>@Html.ActionLink("SignUp", "Register", "Register")</li>
}
